$webResourceManager.requireResourcesForContext("auto-complete-cf")
$webResourceManager.requireResource("com.atlassian.auiplugin:aui-select2")
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
    <select type=text class="select predict-cf-select" id="$customField.id" name="$customField.id" multiple=true readonly=true>
    #foreach($subjarea in $subjareas)
    	<option id='${subjarea.id}' selected>${subjarea.text}</option>
    #end
    </select>
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
<style>
.predict-cf-select{
					max-width:100%!important;
					height:30px!important;
					margin-top:-3px!important;
					background-color:#d5d5d5;

}
.form-body .predict-cf-select{width:500px!important;height:30px;margin-top:-3px;}

</style>

<script>
AJS.$(document).ready(function(){
	AJS.$("#"+"$customField.id").auiSelect2({disabled:true});
 }
);
</script>